body{
    margin: 0;
}
.name-highlight{
    color: rgb(251, 0, 126);
    font-family: 'Roboto Slab';
}
h1{
    font-size: 50px;
    font-family: 'Noto Serif';
}
p{
    color: gray;
    font-size: 18px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(180deg, rgb(255, 70, 162), rgb(255, 0, 128));
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 800;
}
.link-button:hover{
    color: black;
    font-size: 20px;
}
.half-width{
    width: 37%;
    float: left;
    margin-left: 5%;
    padding: 4%;
}
.half-width img{
    width: 100%;
}
.header-section{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
section{
    height: 39em;
    padding-bottom: 150px;
}
.biography-section{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.latest-work{
    text-align: center;
}
.exp-img{
   width: 25%;
   height: 25%;
   float: left;
   margin-left: 6%;
}
.exp-section{
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.about-us{
    text-align: center;
    width: 60%;
    margin-left: 20%;
}
.ceo{
    color: gray;
    font-size: 14px;
}
footer p{
    text-align: center;
    font-size: 12px;
}
.leave-a-message{
    text-align: center;
    color:white;
    box-shadow: 10px gray;
    border-radius: 10px;
    height: 30%;
    width: 60%;
    margin-left: 20%;
    background-color: rgb(253, 0, 139);
}
#white-clr{
    color: white;
}
.footer-section{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.social_icons a i{
    font-size: 50px;
    padding: 0% 2%;
    color: black;
    transition: 0.5s;
    
}

.social_icons h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 28px;
    margin-left: 15%;

}
.social_icons a i:hover{
    transform: rotate(360deg);
}
.social_icons {
    padding-bottom: 69px;
    margin-left: 35% ;
}
